*{
  margin: 0px;
  padding: 0px;
  
}

body{
  background-color: rgb(39, 39, 39);
  margin-left: 30px;
  
  

 
}
.Calculator{
  border: 1px solid white;
  background-color: black;
  margin-top: 4rem;
  width: 30rem;
  height: 40rem;
  position: absolute;
  border-radius: 2rem;
  text-align: center;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
  

  
}
#display {
  width: 90%;
  height: 50px;
  font-size: 62px;
  text-align: right;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 2rem;
  background-color: black;
  border-radius: 2px solid white;
  color: #fff;
}

button{
    margin-top: 18px;
    padding: 42px;
    height: 40px;
    text-align: center;
    
    
    border-radius: 12px;
    border: 1px solid orange;
    background-color: transparent;
    
    color: rgba(250, 250, 250, 0.829);
    text-shadow: 0 2px rgba(255, 255, 255, 0.288);
    box-shadow: 0 5px orange;
    cursor: pointer;
    
}
button:hover {
  background-color: rgb(249, 169, 21);
}
  
#ac{
  font-size: 18px;

  
  background-color: orange;
  color: black;
  border-radius: 16px;
}
#equal{
  background-color: orange;
  color: black;
  width: 13rem;
  border-radius: 2rem;
}

.child{
  margin-top: 3px;
}

.number{
  font-size: 60px;
}



#dot{
  font-weight: 900;
}





@media (max-width: 600px) {
  .Calculator {
    width: 95%;
    margin: 1rem auto;
  }

  #display {
    font-size: 28px;
    height: 60px;
  }

  button {
    padding: 15px;
    font-size: 16px;
  }
}